/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-image: url('/finale/istockphoto-1190671385-612x612.jpg');
    background-size: cover;
    background-position: center;
}


/* Header styles */
header {
    background-color: #003366; /* Darker blue color for header */
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation styles */
nav {
    background-color: #003366; /* Darker blue color for navigation */
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #003366; /* White color for navigation text */
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

nav ul li a:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */  
    color: white;
}

/* Main styles */
main {
    padding: 2em;
}

/* Form styles */
form {
    margin-bottom: 2em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input {
    margin-bottom: 1em;
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

form button {
    padding: 0.5em 1em;
    background-color: #007bff; /* Blue color for buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}

/* List styles */
ul {
    list-style: none;
}

ul li {
    background-color: #fff;
    margin-bottom: 0.5em;
    padding: 1em;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Achievements section styles */
.section-title {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.achievements-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievement-list {
    list-style: none;
    padding: 0;
}

.achievement-item {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.achievement-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
